.adminList {
	width: 80%;
	height: 600px;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.adminList .item {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex: 1;
	width: 100%;
	text-align: center;
	margin: auto;
}

.adminList .words {
	display: flex;
	overflow: auto;
	margin: auto;
	width: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.adminList .words::-webkit-scrollbar {
	background-color: #2F4CD0;    /* color of the scroll thumb */
	border-radius: 30px;       /* roundness of the scroll thumb */
	border: 3px solid #D0B32F;  /* creates padding around scroll thumb */
}

.adminList .words button {
	font-size: 20px;
	width: 100px;
	display: inline-block;
	outline: none;
	background: transparent;
	border: none;
	color: white;
	margin-left: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(82, 82, 82, 0.2);
}

.adminList .words button:hover {
	cursor: pointer;
}

.adminList h3 {
	width: 400px;
	text-align: center;
	margin-left: 200px;
}

.button {
	font-size: 10px;
	width: 50px;
	padding: 14px;
	text-align: left;
	background-color: #2F4CD0;
  color: #D0B32F;
	border-color: #D0B32F;
  border: solid 3px #D0B32F;
	border-radius: 8px;
}

.button:hover {
	cursor: pointer;
	background-color: #D0B32F;
  color: #2F4CD0;
	border-color: #2F4CD0;
  border: solid 3px #2F4CD0;
}

.wordDiv {
	margin-top: 5px;
	margin-bottom: 15px;
}
